html{
    font-size: 25px;
}
.container{
    width:400px;
    /* height: 344px; */
    height: 100vh;
    width: 100vw;
    font-size: 10px;
    border :2px solid red;
}
h1{
text-align: center;
}
#first{
/* em - *font size with .container font size - 10px * 3em = 30px resulter font size ' view in computed section inspect '  */
font-size: 3em;
/* padding = 30px just calc above + 3em = 90px  */
padding: 3em; 

}
#second{
/* rem - depend on html font size  */
font-size: 3rem; /* 25px * 3rem = 75px */
padding: 3rem;

}